---
- name: Docker - Install required system packages
  apt:
    state: latest
    update_cache: yes
    name:
    - ca-certificates
    - curl
    
- name: Docker - download the package signing key for the Docker Debian repository.
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Docker - Add Docker Repository
  ansible.builtin.copy:
    dest: /etc/apt/sources.list.d/docker.sources
    mode: '0644'
    content: |
      Types: deb
      URIs: https://download.docker.com/linux/debian
      Suites: {{ ansible_facts["lsb"]["codename"] }}
      Components: stable
      Signed-By: /etc/apt/keyrings/docker.asc

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: Docker - install docker latest version
  apt:
    state: present
    update_cache: true
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io 
      - docker-buildx-plugin
      - docker-compose-plugin

- name: Docker - adding existing user "{{ current_user }}" to group docker
  user:
    name: "{{ current_user }}"
    groups: "docker"
    append: yes